@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400&display=swap');

$purple-color1: rgb(198, 113, 255);
$purple-color2: rgb(198, 113, 255, 0.7);
$purple-color3: rgb(198, 113, 255, 0.2);

body {
    margin: 0;
    font-family: 'Spectral', serif, 'Times New Roman', Times;
}